@import url('../assets/fonts/inter/inter.css');
@import url('./constants.css');

.canvas-container {
    overflow: hidden;
}

.canvas-element {
    border: 3px solid white;
    position: relative;
    display: block ruby;
    width: var(--canvasWidth);
    height: var(--canvasHeight);
    top: var(--canvasTop);
    left: var(--canvasLeft);
    border-radius: var(--panelSeparator);
    background-color: var(--bgApp);
    background-image:  radial-gradient(var(--gridPoints) 1px, transparent 1px), radial-gradient(var(--gridPoints) 1px, var(--bgApp) 1px);
    background-size: calc(var(--canvasScale) * 10) calc(var(--canvasScale) * 10 );
}

.stage-item {
    width: fit-content;
    transform-origin: 0 0;
    position: relative;
    left: var(--posX);
    top: var(--posY);
    transform: scale(var(--scale));
}

.stage-item.active {
    outline: 1px dashed white;
}