@import url('../assets/fonts/inter/inter.css');
@import url('./constants.css');

.canvas-container {
    overflow: scroll;
}

.canvas-element {
    border: 3px solid white;
    position: relative;
    width: var(--canvasWidth);
    height: var(--canvasHeight);
    border-radius: var(--panelSeparator);
    background-color: var(--bgApp);
    background-image:  radial-gradient(var(--gridPoints) 0.5px, transparent 0.5px), radial-gradient(var(--gridPoints) 0.5px, var(--bgApp) 0.5px);
    background-size: calc(var(--canvasScale) * 10) calc(var(--canvasScale) * 10 );
}