:root {
    --bgApp: #1F1F1F;
    --txTitle: #CFCFCF;
    --timeRuler: #306fc5;
    --highlight: #f45f09;
    --panelStroke: #303030;
    --panelSeparator: 5px;
    --bgEditorPanel: #242424;
    --inBck: #565656
}