@import url('../assets/fonts/inter/inter.css');
@import url('./constants.css');

.property-input {
    padding: 0.5mm 2mm;
    display: flex;
    gap: 2mm;
    align-items: center;
}

.property-input>input {
    background-color: var(--inBck);
    border: 2px solid var(--timeRuler);
    border-radius: var(--panelSeparator);
    outline: none;
    width: 60%;
}

.property-input>input:focus{
    border: 2px solid var(--highlight);
}

.property-input>.input-interpreted,
.property-input>.input-label {
    font-weight: 300;
    font-size: small;
}