@import url('../assets/fonts/inter/inter.css');
@import url('./constants.css');

:root{
    --actionHover: #606060;
}

::-webkit-scrollbar {
    height: 10px;
    transition-duration: 120ms;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    transition-duration: 120ms;
    border-radius: 0px 0px 5px 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    padding: 2mm;
    background-color: var(--timeRuler);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight); 
}

.app-timeline {
    grid-template-rows: 10mm auto;
}

.timeline-overflow {
    height: calc(100% - 7.5mm);
    overflow-x: auto;
}

.timeline-stage {
    width: var(--durationWidth);
    min-height: 100%;
    height: 100%;
    background: url('../assets/images/ruler.svg');
    background-size: var(--rulerPos) cover;
    background-position: 0% 0%;
    background-repeat: repeat-x;
    transform-origin: top left;
    transform: scale(var(--rulerTf), 1);
}

.timeline-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 5px;
    background-color: #2F2F2F;
    height: 7.5mm;
}

.timeline-cursor {
    max-width: .25rem;
    height: 100%;
    background: var(--timeRuler);
    transform: translateX(var(--cursorOffset)) translateX(-50%);
    border-radius: .125rem;
}

.action-cursor {
    cursor: crosshair;
}

.timeline-action>.action {
    border-radius: 5px;
    padding: 0.3mm 0.6mm;
    font-weight: 400;
    font-size: 10pt;
    display: flex;
    align-items: center;
    user-select: none;
}

.timeline-action>.action:hover {
    background-color: var(--actionHover);
}